<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.builditbigger">

    <application>
        <activity android:name="com.example.com.udacity.gradle.builditbigger.AndroidJokeActivity"></activity>
    </application>

</manifest>